* {
    font-family: 'Montserrat', sans-serif;
}

/******************************************************************
Example Modal
*******************************************************************/
.example-modal-wrapper {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.example-modal {
    max-width: 500px;
    max-height: 600px;
    margin: auto;
    padding:10px;
    position: absolute;
    background-color: rgb(255,255,255); /* Fallback color */
    top: 0; left: 0; bottom: 0; right: 0;
}
.example-modal h1 {
    color: #333333;
    text-align: center;
}
.example-modal button {
    position: absolute;
    right:10px;
    top: 10px;
}
.example-modal table {
    text-align: left;
}
.example-modal input[type="submit"] {
    text-align: center;
}
/******************************************************************
Detective Pad (ideally would be a modal in the future)
*******************************************************************/
.checklist{
    margin-top:30px;
    width: 30%;
    min-width:400px;
    height: 400px;
    display:block;
    padding:0;
    background-color:#CCC;

    border: solid #444 1px;
    overflow: hidden;

}
.checklistHeader{
    font-size:16pt;
    font-weight:bold;
    margin: 0;
    padding:0;
    color:white;
}
.checklistRow-Header{
    width: 100%;
    display:block;
    background-color:#444;
    overflow: auto;
}
.checklistRow-Header p {
    padding-left:15px;
}
.checklistContent{
    width: 100%;
    height: 500px;
    display:block;
    padding:0;
    margin:0;
    background-color:#CCC;
}
.checklistRow{
    font-size:8pt;
    width: 100%;
    height: 20px;
    line-height: 20px;
    display:block;
    clear: both;
}
.checklistColumn{
    background-color: #CCC;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}
.category{
    background-color: #999;
    color:white;
    padding-left:15px;
}
/******************************************************************
Detective Pad/Suggest/Accuse Component
*******************************************************************/
.turnBox-wrapper{
    margin-top:30px;
    color:white;
    height: 50px;
    width: 30%;
    min-width:350px;
    border-radius: 5px;
    border: solid #444 1px;
 }
.turnBox-header{
    display:inline-block;
    font-size:10pt;
    background-color:#444;
    text-align:left;
    height:50px;
    width:100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.turnBox-header p{
    margin: 5px;
    padding:0;
}
/*.turnBox-content {
    display:inline-block;
    background-color: #CCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height:125px;
    width: 100%;
    position:relative;
    text-align:center;
}*/
.turnButton{
    background-color: #0073FF;
    width:70%;
    height:35px;
    border-radius:5px;
    margin: 5px 0px auto;
    vertical-align: middle;
    text-align:center;
    line-height: 35px;
}
.turnButton p{
    font-size:12pt;
    margin:0px;
    padding:0;
}

.turnButton:hover{
    background-color: #FF2100;
}
.turnButton:active{
    background-color: #D84E4E;
}

/******************************************************************
Game Components
*******************************************************************/
.firstRow{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.lastRow{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

/******************************************************************
Game Tables
*******************************************************************/
.gamefeed{
    margin-top:30px;
    width: 40%;
    min-width:500px;
    height: 500px;
    display:block;
    padding:0;
    background-color:#CCC;
    border: solid #444 1px;
    overflow: hidden;
}
.FeedHeader{
    width: 100%;
    display:block;
    padding:0;
    margin:0;
    background-color:#444;
}
.gamefeed-header{
    font-size:16pt;
    font-weight:bold;
    padding:10px 0 10px 10px;
    color:white;
    background-color: #444;
}
.contentHeader, .contentHeader_large {
    font-size: 12px;
    float: right;
    text-align: left;
    text-decoration: underline;
}
.contentHeader_large {
    width: 60%;
}
.contentHeader {
    width: 17%;
}
.divFeedTable {
    width: 103%;
    height: 500px;
    display:block;
    padding:0;
    margin:0;
    background-color:#CCC;
    overflow-y: scroll;
}
.divFeedRow-header{
    width: 100%;
    display:block;
    padding-bottom:5px;
    background-color:#444;
    overflow: auto;
}
.divFeedRow {
    width: 100%;
    height: 50px;
    display:block;
    padding-bottom:5px;
    clear: both;
}
.divFeedColumn1 {
    float: left;
    width: 5%;
    height:100%;
    display:block;
    padding: 0 .5%;
    text-align:center;
}
.divFeedColumn2 {
    width: 75%;
}
.divFeedColumn2_small {
    width: 52%;
}
.divFeedColumn2, .divFeedColumn2_small{
    float: left;
    height:100%;
    display:block;
    padding: 0 .5%;
    font-size:10pt;
}
.divFeedColumn3 {
    float: left;
    width: 17%;
    height:100%;
    display:block;
    padding-right:1%;
    padding-top: 15px;
    text-align:right;
    font-size:8pt;
    vertical-align: top;
 }
.column{
    background-color: #CCC;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}
/******************************************************************
Game Feed Table Item Stylings
*******************************************************************/
.gamefeed-svg{
    width: 20px;
    height: 20px;
    float:left;
}
.icon{
    float:left;
    height:20px;
    width:20px;
}
.suggested{
    font-weight:bold;
}
.suggested-body{
    margin-left:10px;
    float: left;
}

/******************************************************************
Game Feed "Map"
*******************************************************************/
.gameMap{
    margin-top:30px;
    width: 30%;
    min-width:350px;
    height: 330px;
    display:block;
    padding:0;
    margin-left:15px;
    background-color:#CCC;
    border-radius: 5px;

    border: solid #444 1px;
    overflow:hidden;

}
.mapHeader{
    font-size:8.5pt;
    font-weight:bold;
    margin-bottom: auto 0;
    color: #FFF;
}
.mapRow-header{
    width: 100%;
    height: 30px;
    display:block;
    background-color: #444;
    clear: both;
}
.mapRow-content{
    width: 100%;
    min-height: 80px;
    display:block;
    background-color: #CCC;
    clear: both;
}
.mapColumn{
    float: left;
    width: 31.33333%;
    display:block;
    padding: 0 .5%;
    text-align:center;
}
.mapContent{
    font-size:8.5pt;
}
.mapContentBorder{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 40px;
    min-height:70%;
}
/******************************************************************
Nav Bar
*******************************************************************/
.navBar {
    height: 75px;
    width: 100%;
    background-color: #444444;
    display:block;
}

.navBar p {
    float: left;
    padding-left: 30px;
}

.navBar p a {
    text-decoration: none;
    color: #FFFFFF;
}

.navLinks {
    font-size: 16px;
    font-face: Montserrat-Regular;
    list-style: outside none none;
    float: right;
}

.navLinks li {
    display: inline-block;
    padding: 0px 60px 60px 0px;
}

.navLinks li a {
    text-decoration: none;
    color: #FFFFFF;
}

.navBar .active {
    color: red;
}


/**************************************************************
Profile Page
***************************************************************/

.prof-pic-container {
    width: 80%;
    margin: auto;
}

.prof-username {
    width: 80%;
    border:1px solid black;
    text-align: center;
    font-size: 4em;
}

.my-wins {
    width: 40%;
    font-size: 2em;
    color: red;
    float: left;
    margin: auto;
    border: 1px solid black;
    text-align: middle;
}

.my-losses {
    width: 40%;
    font-size: 2em;
    color: #000;
    float: left;
    margin: auto;
    border: 1px solid black;
    text-align: middle;
}

/**************************************************************
Sign In
***************************************************************/

.sign-in {
    border: 1px solid black;
    clear: both;
    text-align: center;
    width: 300px;
    padding: 50px;
    margin: auto;
}

.sign-in-username {

}

.sign-in-password {
    margin-bottom: 30px;
}

/**************************************************************
Sign Up
***************************************************************/

.sign-up{
    border:1px solid black;
    clear: both;
    text-align: left;
    width: 350px;
    padding: 50px;
    margin: auto;
}

.sign-up-header{
    text-align: center;
    margin-bottom: 20px;
}

.sign-up-input {

}

.sign-up-username {

}

.sign-up-pw {

}

/******************************************************************
Suggest/Accuse
*******************************************************************/

.SAContainer {
    height: 300px;
    border-radius: 5px;
}

.SAHeader {
    background-color: #444444;
    height: 50px;
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.SAHeader h3 {
    font-size: 14pt;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    padding-top: 13px;
}

.suggestAccuse {
    padding-top: 10px;
}

