* {
    font-family: 'Montserrat', sans-serif;
}
body {
	background-image:url(assets/backgrounds.png);
	background-attachment: fixed;
	background-size: 100%;
	padding: 0;
	margin: 0 -10px;
}
/** {
	border: 1px solid red;
}*/
.outercontainer {
	margin: auto;
	width: 70%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	margin-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 100px;
}
.shortHeight {
	height: 420px;
}
.tallHeight {
	height: 700px;
}
.outercontainer-profile {
    margin: auto;
    width: 70%;
	background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    margin-top: 20px;
    height:400px;
    padding-top: 50px;
}
.center {
	margin:auto;
	text-align: center;
	clear: both;
	padding: 10px;
}
.center h1 {
	padding: 20px;
}
.hero_img {
	background-image: url(assets/hero_img.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width:100%;
	border-radius: 5px 5px 0 0;
	padding: 30px 0;
}
.hero_img h1 {
	color: #ffffff;
	vertical-align: middle;
}
.main_page{
	width: 100%;
	height: 500px;
	padding-top: 50px;
	background: black url(assets/mainImage.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	color: white;
}
.main_page_title{
	font-weight: 600;
	font-size: 70px;
	margin:15px;
}
.main_page_bigfont{
		margin:5px;
	margin-top: 50px;
	font-weight: 600;
	font-size: 50px;
}
.main_page_midfont{
	font-size: 40px;
	margin:5px;
}
.main_page_smallfont{
	font-size: 30px;
}
.primary_content, .secondary_content, .primary_content2, .only_content{
	background-color: rgba(244,244,244,0.9);
	border-radius: 5px;
	padding: 2%;
	margin:2%;
	float: left;

    overflow-y: scroll;
}
.only_content {
	width: 90%;
}
.primary_content {
	width: 60%;
}
.primary_content th {
	padding:5px;
	vertical-align: text-top;
	font-weight: normal;
}
.primary_content select{
    width: 100%;
}
.primary_content input[type="text"]{
    width: 100%;
}
.primary_content2 {
	width: 80%;
	margin:auto;
}
.secondary_content {
	width: 22%;
}
.secondary_content form, .primary_content form {
	text-align: left;
}
.columnheader {
    float: right;
	margin-right:50px;
    width: 17%;
    height:100%;
    display:block;
    padding-right:1%;
    padding-top: 15px;
    text-align:right;
    font-size:8pt;
    vertical-align: top;
 }
.columnheader2 {
	float: left;
	width: 17%;
	height:100%;
	display:block;
	padding-right:1%;
	padding-top: 15px;
	text-align:right;
	font-size:8pt;
	vertical-align: top;
}
 .av_games {
 	margin:auto;
 	margin-top:30px;
    width: 40%;
    min-width:500px;
    height: 350px;
    display:block;
    padding:0;
    background-color:#CCC;
    border: solid #444 1px;
    overflow: hidden;
 }
 .av_gamesTable {
    width: 103%;
    height: 350px;
    display:block;
    padding:0;
    margin:0;
    background-color:#CCC;
    overflow-y: scroll;
}
 .link {
 	text-decoration: none;
 	font-weight: bold;
 	color: #ffffff;
 	border: 1px solid #ffffff;
 	border-radius: 5px;
 	padding: 10px;
 	width: 28%;
 	text-align: center;
 	float: left; 	
 	margin:10px;
 }
 .gameContainer {
 	margin: auto;
	width: 90%;
	border-radius: 5px;
	margin-top: 20px;
 }
.user-nickname {
	float: right;
	margin-top: 5px;
	margin-right: 1%;
}
.current-turn {
	float: left;
}
.create_game_form {
	text-align: center;
}
.signup-form label {
	text-align: left;
}
 .submit {
 	padding: 10px 20px;
 	background-color: rgba(0,0,0,0.6);
 	border-radius: 5px;
 	color: #ffffff;
 	box-shadow: none;
 	border:none;
 	margin: 5px;
 }
 .submit:hover {
 	background-color: rgba(0,0,0,0.5);
 }

#game_name {
	width: 350px;
	margin-left: 10px;
	margin-right: 20px;
}

 .white_text {
 	color: #ffffff;
 }
 @media (max-width: 1000px) {
 	.hero_img {
		max-height: 170px;
	}
}
 @media (max-width: 800px) {
 	.hero_img {
		max-height: 150px;
	}
}
@media (max-width: 700px) {
 	.hero_img h1 {
		padding: 10px;
	}
}
 @media (max-width: 600px) {
 	.hero_img {
		max-height: 130px;
	}
}

